*
{
	box-sizing: border-box;
}

html
{
	height: 100%;
}

html,body
{
	min-height: 100%;
}

body{
	font-family: "Open Sans";
	line-height: 1.4;
	color: #000;
	font-weight: 400;
	font-size: 14px;
}

p
{
	
}

a{
	display: inline-block;
}

a:hover
{
	cursor: pointer;
}

.img-responsive
{
	display: block;
	max-width: 100%;
	height: auto;
}

.container-fluid
{
	width: 100%;
	display: table;
}

.container
{
	width: 1199px;
	display: table;
	margin: 0 auto;
}

.columna
{
	float: left;
	display: block;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.columna-3
{
	width: 25%;
}

.columna-4
{
	width: 33.33%;
}

.columna-6
{
	width: 50%;
}

.columna-8
{
	width: 66.66%;
}

.columna-12
{
	width: 100%;
}

header.cabecera
{

}

header.cabecera nav ul li a
{
	font-size: 12px;
}

header.cabecera .menu-negro
{
	background-color: #000;
}

header.cabecera .menu-negro .menu-negro-izquierda
{
	float: left;
}

header.cabecera .menu-negro .menu-negro-izquierda nav
{

}

header.cabecera .menu-negro .menu-negro-izquierda nav ul
{

}

header.cabecera .menu-negro .menu-negro-izquierda nav ul li
{
	float: left;
	padding: 7.5px 0;
}

header.cabecera .menu-negro .menu-negro-izquierda nav ul li a
{
	padding: 7.5px 7.5px;
	color: #fff;
	text-decoration: none;
	line-height: 1;
}

header.cabecera .menu-negro .menu-negro-izquierda nav ul li a.selected
{
	color: green;
}

header.cabecera .menu-negro .menu-negro-derecha
{
	float: right;
}

header.cabecera .menu-negro .menu-negro-derecha nav
{
}

header.cabecera .menu-negro .menu-negro-derecha nav ul
{
}

header.cabecera .menu-negro .menu-negro-derecha nav ul li
{
	float: left;
	padding: 7.5px 0;
}

header.cabecera .menu-negro .menu-negro-derecha nav ul li a
{
	padding: 7.5px 7.5px;
	color: #fff;
	text-decoration: none;
	line-height: 1;
}

header.cabecera .menu-negro .menu-negro-derecha nav ul li a i
{
	color: green;
	margin-right: 5px;
}

header.cabecera .menu-negro .menu-negro-derecha nav ul li:last-child
{

}

header.cabecera .menu-negro .menu-negro-derecha nav ul li:last-child a
{
	border-left: 1px solid #ccc;
}

header.cabecera .menu-negro .menu-negro-derecha nav ul li:last-child a i
{
	margin-right: 0px;
}

header.cabecera .menu-verde
{
	background-color: green;
	padding: 30px 0px;
}

header.cabecera .menu-verde .menu-verde-izquierda
{
	float: left;
}

header.cabecera .menu-verde .menu-verde-izquierda img.logo
{
	width: 100px;
}

header.cabecera .menu-verde .menu-verde-derecha
{
	float: right;
}

header.cabecera .menu-verde .menu-verde-derecha nav
{
}

header.cabecera .menu-verde .menu-verde-derecha nav ul
{
}

header.cabecera .menu-verde .menu-verde-derecha nav ul li
{
	float: left;
	padding: 7.5px 0;
}

header.cabecera .menu-verde .menu-verde-derecha nav ul li a
{
	padding: 7.5px 7.5px;
	color: #fff;
	text-decoration: none;
	line-height: 1;
}

section.seccion
{
	padding: 30px 0px;
}

section.seccion.seccion-1
{
	padding: 0px 0px 90px 0px;
	background-color: green;
	color: #fff;
	text-align: center;
}

section.seccion.seccion-1 .columna-12
{
	padding: 0 10%;
}



section.seccion.seccion-1 h1
{
	line-height: 1.5;
	font-size: 30px;
	margin-bottom: 20px;
}

section.seccion.seccion-1 form
{
	margin-bottom: 30px;
}

section.seccion.seccion-1 form input
{
	display: inline-block;
	margin: 0 -2px;

}

section.seccion.seccion-1 form input.form-control
{
	width: 50%;
	border: 1px solid #ccc;
	padding: 10px;
	height: 40px;
	font-family: 'Font Awesome 5 Free',"Open Sans";
}

section.seccion.seccion-1 form input.bntbuscar
{
	background-color: #333;
	color: #fff;
	text-align: center;
	border:none;
	padding: 10px;
	height: 40px;
}

section.seccion.seccion-1 p
{
	line-height: 1.5;
}

